mixin img-100-jpg(image)
	img.w-100(src="img/"+image+".jpg")

mixin img-100-png(image)
	img.w-100(src="img/"+image+".png")

mixin portafolio(image,h,texto,texto1,texto2,texto3,texto4,texto5)
	.col-sm-4
		.portafolio
			.pantalla
				.carta
					.lado.frente
						+img-100-png(image)
					.lado.atras
						h4=(texto)
						if  h==2
							p.texto=(texto1)
							p.texto=(texto2)
						if h==3
							p.texto=(texto1)
							p.texto=(texto2)
							p.texto=(texto3)
						if h==4
							p.texto=(texto1)
							p.texto=(texto2)
							p.texto=(texto3)
							p.texto=(texto4)
						if h==5
							p.texto=(texto1)
							p.texto=(texto2)
							p.texto=(texto3)
							p.texto=(texto4)
							p.texto=(texto5)
						else
							p=(texto6)
						a(href="") Ver la Página
				.btn-star
				.parante
				.base
			
				
					
			
mixin title(texto)
	.title
		h1=(texto)

mixin colSobreMi(image)
	.col-sm-4
		.portafolio
			.pantalla
				+img-100-png(image)

mixin habilidades(texto,name)
	.col-sm-3
		.cont-habi.text-center
			.cuello
			.tubo(class=name)
			
		p=texto


