mixin img-100-jpg(image)
	img.w-100(src="img/"+image+".jpg")

mixin img-100-png(image)
	img.w-100(src="img/"+image+".png")

mixin portafolio(name,h,texto,texto1,texto2,texto3,texto4,texto5)
	.col-sm-8.col-sm-offset-2
		if (h==1)
			.row
				.col-sm-6.col-xs-12
					.portafolio
						.banner2(class=name)
				.col-sm-6.col-xs-12
					.texto
						h2 Flatness
						p Flecha:
							span=texto
						p Retos:
							span=texto1	
		else 
			.row
				.col-sm-6.col-xs-12
					.texto
						h2 Flatness
						p Flecha:
							span=texto
						p Retos:
							span=texto1	
				.col-sm-6.col-xs-12
					.portafolio
						.banner2(class=name)

					
			
mixin title(texto)
	.title
		h1=(texto)

mixin colSobreMi(image)
	.col-sm-4
		.portafolio
			.pantalla
				+img-100-png(image)

mixin habilidades(texto,name)
	.col-sm-3.col-xs-12
		.cont-habi.text-center
			.cuello
			.tubo(class=name)
			
		p=texto

mixin habilidad(p,texto)
	.col-sm-3.col-xs-6
		.especialidad
			a(href="")
				div(id="p")
			p=texto
mixin cualidad(name,texto)
	.col-sm-3.col-xs-6.text-center
		span.fa(class=name)
		span=texto

mixin portafolio(href,href2,name,image,titulo,p)
	.mix.category-1(class=name)
		.carta
			.lado.frente
				img.w-100(src="img/"+image+".png")
			.lado.atras
				h4=titulo
				.texto.text-left
					p Tecnologías usadas:
					if (p==1)
						p Css 
						p Html5
						p Bootstrap
					else if (p==2)
						P Html5
						p Sass 
						p Bootstrap
					else if (p==3)
						p Sass
						p Jade
						p Bootstrap
					else if (p==4)
						p Css
						p Js
						p Bootstrap
				a(href=href2 target="_blank") Ver código
					span.fa.fa-github
				a(href=href target="_blank") Visitar página
					span.fa.fa-arrow-right

